@charset "UTF-8";
.contalner {
  width: 1196px;
  margin: 0 auto;
  text-align: right; }

a {
  text-decoration: none;
  outline: 0;
  color: #000; }

/* 顶部导航栏 */
#header {
  overflow: hidden;
  z-index: 999;
  width: 100%;
  background-color: #fff; }

#header .logo {
  background: url(https://shop.gionee.com/static/web201310/spirite.png); }

.nav {
  width: 100%;
  height: 103px;
  border-bottom: #d5d5d5 1px solid;
  box-shadow: 0 1px 1px #ccc;
  position: relative;
  z-index: 90;
  transform: translateZ(0); }

.navbox {
  width: 1190px;
  margin: 0 auto; }

.navbox > a {
  float: left;
  display: block;
  width: 200px;
  height: 51px;
  overflow: hidden;
  margin-top: 25px; }

.navright {
  float: right;
  width: 850px; }

.navtopbox {
  display: flex; }

.navtop {
  width: 89%;
  text-align: right;
  color: #9f9f9f;
  padding-top: 10px;
  line-height: 20px;
  margin-bottom: 23px;
  position: relative;
  float: left;
  z-index: 101; }

.navtop > a {
  color: #9f9f9f; }

.buycolor:hover {
  border: 1px solid #e9e9e9;
  border-bottom: 1px solid #fff; }

.navtop a:hover {
  color: #ef4222; }

#buybtn:hover i {
  background-position: -262px -4px; }

.navtop > span {
  margin: 6px;
  color: #9f9f9f; }

.buycolor {
  width: 10%;
  line-height: 20px;
  height: 20px;
  right: -10px;
  float: right;
  position: relative;
  padding-top: 10px;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #fff;
  text-align: center; }

.buycolor .xian {
  width: 100%;
  background-color: #fff;
  height: 5px;
  position: absolute;
  top: 30px;
  z-index: 9999; }

.buybox {
  display: none;
  position: absolute;
  right: -1px;
  top: 11px;
  border: solid 1px #e9e9e9;
  width: 314px;
  overflow: hidden;
  background: #fff;
  padding-bottom: 10px;
  z-index: 99; }

.buytxt {
  font-size: 14px;
  padding: 18px 15px 10px 15px; }

#buybtn {
  display: block;
  float: right;
  margin-right: 10px;
  color: #9f9f9f;
  border: 1px solid #fff; }

#buybtn:hover {
  color: #ef4222; }

.buycolor:hover .buybox {
  display: block;
  top: 31px; }

#buybtn i {
  background: url(https://shop.gionee.com/static/web201310/spirite.png); }

#buybtn i {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  right: 62px;
  top: 12px;
  background-position: -216px -4px; }

.navleft {
  width: 680px;
  position: relative;
  z-index: 1;
  padding-left: 40px; }

.navleft > a {
  display: block;
  font-size: 15px;
  color: #000;
  line-height: 30px;
  width: auto;
  margin: 0 27px;
  float: left; }

.navleft a:hover {
  color: #EF4222; }

.seainput {
  float: right;
  width: 165px;
  padding-left: 3px;
  height: 28px;
  line-height: 28px;
  position: relative;
  z-index: 1; }

.seainput .txt {
  width: 158px;
  height: 28px;
  line-height: 28px;
  text-align: left;
  border: 0;
  font-family: "Microsoft YaHei";
  border: 1px solid #9f9f9f; }

.seainput .smtbtn {
  background: url(https://shop.gionee.com/static/web201310/spirite.png); }

.seainput .smtbtn {
  width: 25px;
  height: 28px;
  display: block;
  background-position: -236px 2px;
  border: 0;
  text-indent: -9999em;
  cursor: pointer;
  outline: 0;
  position: absolute;
  right: 2px;
  top: -5px; }

/* 右边固定导航 */
#rightnav {
  position: fixed;
  right: 20px;
  width: 50px;
  top: 50%;
  margin-top: -144px;
  z-index: 9999; }

#rightnav a i {
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  top: 10px;
  left: 14px;
  background: url(https://shop.gionee.com/static/web201310/ui_service.png?d=1127) no-repeat 0 0;
  cursor: pointer; }

#rightnav a {
  position: relative;
  z-index: 2;
  display: block;
  width: 58px;
  height: 28px;
  padding-top: 40px;
  overflow: hidden;
  background: #fff;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  border: solid 1px #ddd;
  background: #fff;
  color: #000; }

#rightnav .serve i {
  background-position: 0 0; }

#rightnav .serve:hover {
  color: #EF4222; }

#rightnav .serve:hover i {
  background-position: 0 -30px; }

#rightnav .help i {
  background-position: -30px 0; }

#rightnav .help:hover {
  color: #EF4222; }

#rightnav .help:hover i {
  background-position: -30px -30px; }

#rightnav .returntop i {
  background-position: -60px 0; }

#rightnav .returntop:hover {
  color: #EF4222; }

#rightnav .returntop:hover i {
  background-position: -60px -30px; }

#rightnav .jinli:hover {
  color: #EF4222; }

#rightnav .jinli {
  height: 35px;
  cursor: auto; }

#rightnav .jinli span {
  position: relative;
  top: 10px; }

#rightnav .jinli img {
  width: 50px;
  height: 50px;
  text-align: center;
  margin-top: -61px;
  border: 0; }

#pro {
  overflow: hidden;
  position: relative;
  margin-top: 10px; }

#pro > h1 {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  font-size: 30px; }

.pro_list {
  background: #fff;
  width: 108%;
  position: relative;
  zoom: 1; }

.list_pro {
  width: 297px;
  height: 440px;
  border: none;
  border-right: solid #eee 1px;
  overflow: hidden;
  padding: 40px 0 0px;
  background: #fff;
  border-bottom: solid #eee 1px;
  padding-bottom: 0;
  position: relative; }

.pro_list li {
  float: left;
  text-align: center; }

.list_pro a.img {
  position: relative;
  overflow: hidden;
  width: 230px;
  height: 300px;
  margin: 0 auto 30px; }

.list_pro a.img img {
  width: 300px;
  height: 300px;
  margin-left: -5px;
  margin-bottom: 10px; }

.list_pro .goods_title {
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  width: 200px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  padding-right: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; }

.list_pro .promot_st {
  width: 200px;
  margin: 0 auto 3px;
  color: #999999;
  font-weight: normal;
  font-size: 12px;
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  display: block; }

.list_pro .ui_pprice {
  line-height: 20px;
  height: 20px;
  margin-bottom: 5px;
  font-weight: normal;
  overflow: hidden;
  font-family: Arial,Helvetica,sans-serif;
  color: #ef4222;
  font-size: 18px; }

a.probuy {
  display: none;
  width: 95px;
  height: 36px;
  padding-left: 25px;
  background: #ef4222;
  font-size: 14px;
  line-height: 36px;
  color: #fff;
  text-align: left;
  position: absolute;
  left: 89px;
  bottom: -1px; }

i.i_con_arort {
  display: block;
  width: 15px;
  height: 15px;
  overflow: hidden;
  background: url(https://shop.gionee.com/static/web201310/spirite.png);
  background-position: -345px -444px;
  position: absolute;
  right: 22px;
  top: 12px; }

a.probuy1 {
  display: none;
  width: 86px;
  height: 24px;
  margin: 0 auto;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #ef4222;
  text-align: center; }

i.i_con_arwt {
  display: block;
  width: 13px;
  height: 13px;
  background: url(https://shop.gionee.com/static/web201310/spirite.png);
  background-position: -348px -426px;
  position: absolute;
  right: 0px;
  top: 5px; }

.list_pro:hover a.probuy {
  display: block; }

.list_pro:hover a.probuy1 {
  display: block; }

.goods_title:hover {
  color: #ef4222; }

.ui_price_m {
  color: #ccc;
  text-decoration: line-through;
  margin-left: 5px; }

#bottomserve {
  padding-top: 40px; }

.ser1 {
  border-bottom: #eaeaea 1px solid;
  width: 100%;
  padding-bottom: 40px;
  height: 47px;
  background: #fff; }

.ser1 > ul {
  width: 1190px;
  margin: 0 auto; }

.wrapper li {
  float: left;
  width: 24.5%;
  height: 47px; }

.wrapper li a {
  width: 140px;
  height: 47px;
  display: block;
  float: left;
  line-height: 20px;
  font-size: 16px;
  color: #777; }

.wrapper li a:hover {
  color: #F14260; }

.wrapper li i {
  display: block;
  float: left;
  line-height: 20px;
  font-size: 16px;
  color: #777;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  background: url(https://shop.gionee.com/static/web201310/spirite.png); }

.wrapper i.c_dropgos {
  background-position: 0 -60px; }

.wrapper i.c_change {
  background-position: -46px -60px; }

.wrapper i.c_freesheep {
  background-position: -92px -60px; }

.wrapper i.c_svspoint {
  background-position: -138px -60px; }

.wrapper li em {
  font-style: normal;
  float: left; }

.ser2 {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 1190px;
  margin: 0 auto;
  display: block; }

.ser2 dl {
  float: left;
  width: 18%;
  line-height: 33px;
  color: #777; }

.ser2 dt {
  font-size: 16px; }

.ser2 dd {
  font-size: 12px; }

.wx {
  width: 105px;
  float: right;
  text-align: center;
  line-height: 30px;
  color: #999; }

.weixinimg {
  display: block;
  border: #ccc 3px solid;
  width: 98px;
  height: 98px;
  background: url(https://shop.gionee.com/static/web201310/spirite.png); }

.wx i {
  background-position: -279px 0; }

.ser3 {
  background: #333;
  text-align: left;
  color: #999;
  padding: 20px 0;
  float: left;
  width: 100%;
  height: 115px; }

.ser3box {
  width: 1190px;
  margin: 0 auto;
  display: block;
  position: relative; }

.ser3 a {
  color: #999; }

.ser3 a:hover {
  color: #fff; }

.ser3 li:hover {
  color: #fff; }

.map {
  float: left; }

.map > span {
  margin: 6px; }

.group {
  float: left;
  position: relative; }

.group .triangle {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 9px;
  left: 80px;
  border-top: solid 4px #999;
  border-left: solid 4px #474747;
  border-right: solid 4px #474747;
  transform: rotate(0deg);
  transition: all 1s linear; }

.group:hover .triangle {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  border-color: #474747;
  border-top-color: #fff; }

.group .sp1 {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 888;
  transform: translateY(0px); }

.group:hover .sp1 {
  display: block;
  background-color: #474747;
  transform: translateY(18px);
  width: 96px; }

.group:hover .sp {
  display: block;
  background-color: #474747;
  width: 96px; }

.p1 {
  line-height: 20px; }

.p1 > a > img {
  margin-top: -10px; }

.copyright {
  margin-bottom: 8px;
  float: left; }

.txt {
  float: right;
  margin-top: -10px;
  position: relative;
  width: 100px;
  height: 24px;
  text-align: center;
  line-height: 24px; }

.txte {
  display: none;
  position: absolute;
  top: -20px; }

.txt:hover .txte {
  display: block; }

.txt li {
  background: #474747;
  padding: 2px;
  width: 100px; }

.lisp1 {
  display: none;
  float: right;
  padding-right: 5px; }

.txt:hover .lisp1 {
  display: block; }

.txt:hover .lisp {
  display: none; }
